/* ambiance neutre (moi) */
body.moi {
    background: #fafafa;
    color: #222;

    /* transition douce */
    transition: background-color 1s ease, color 1s ease;
}

/* moi */
.message.moi {
    background: #e8ecf4;
    align-self: flex-start;
}
