* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #faf6ef;
    font-family: "Inter", sans-serif;
    padding: 20px;
    color: #333;
}

/* ambiance neutre (moi) */
body.moi {
    background: #fafafa;
    color: #222;

    /* transition douce */
    transition: background-color 1s ease, color 1s ease;
}

body.maman {
    background-color: #ca8b2c;
    background-image: url('maman.png');
    background-repeat: no-repeat;

    /* centrage vertical + position droite */
    background-position: center;

    /* taille de l'image */
    background-size: 60%;

    /* transition douce */
    transition: background-color 1s ease, color 1s ease;
}

.app {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.clear {
    position: fixed;
    top: 20px;
    right: 20px;

    background: #00000015;
    color: #333;
    padding: 8px 14px;
    border-radius: 6px;
    border: 1px solid #ccc;

    cursor: pointer;
    font-size: 14px;

    backdrop-filter: blur(4px);
}

.clear:hover {
    background: #00000025;
}

.messages {
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 10px;
    padding: 15px;
    height: 60vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0 0 8px rgba(0,0,0,0.05);
}

/* message générique */
.message {
    padding: 12px 16px;
    border-radius: 8px;
    max-width: 90%;
    line-height: 1.45;
    white-space: pre-wrap;
}

/* moi */
.message.moi {
    background: #e8ecf4;
    align-self: flex-start;
}

/* maman */
.message.maman {
    background: #fff4d7;
    align-self: flex-end;
}

#preview-container {
    position: fixed;
    top: 120px;
    right: 20px;
    width: 220px;
    height: 220px;
    background: #ffffffbb;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    backdrop-filter: blur(4px);

    display: flex;
    justify-content: center;
    align-items: center;
}

#preview-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* zone d'écriture */
.input-zone {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    resize: vertical;
    font-family: inherit;
}

select, button {
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #aaa;
    font-family: inherit;
    font-size: 16px;
}

button {
    cursor: pointer;
    background: #333;
    color: #fff;
    font-weight: 500;
}

button:hover {
    background: #555;
}
